.allLoops {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  border: groove;
  border-radius: 60px;
  padding: 40px;
  margin: 20px;
}

.loops {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: groove;
  border-radius: 60px;
  margin: 50px auto;
  padding: 40px;

  .numberOfExercise {
    font-family: inherit;
    text-align: center;
    text-shadow: 12px 2px 20px gray;
  }

  .squareFor {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px black;
    font-variant: small-caps;
    width: 70%;
    color: #ffffff;
    background-color: #868686;
    border: groove;
    border-radius: 60px;
    margin: 10px;
    padding: 30px 30px 20px 30px;
  }

  .squareWhile {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px black;
    font-variant: small-caps;
    width: 70%;
    color: #ffffff;
    background-color: #868686;
    border: groove;
    border-radius: 60px;
    margin: 10px;
    padding: 30px 30px 20px 30px;
  }
}

.sum {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: groove;
  border-radius: 60px;
  margin: 50px auto;
  padding: 40px;

  .numberOfExercise {
    font-family: inherit;
    text-align: center;
    text-shadow: 12px 2px 20px gray;
  }

  .sumOfAll {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px black;
    font-variant: small-caps;
    width: 50%;
    color: #ffffff;
    background-color: #868686;
    border: groove;
    border-radius: 60px;
    margin: 10px;
    padding: 30px 30px 20px 30px;
  }
}

.stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: groove;
  border-radius: 60px;
  margin: 50px auto;
  padding: 40px;

  .numberOfExercise {
    font-family: inherit;
    text-align: center;
    text-shadow: 12px 2px 20px gray;
  }

  .allStars {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px black;
    font-variant: small-caps;
    width: 50%;
    color: #ffffff;
    background-color: #868686;
    border: groove;
    border-radius: 60px;
    margin: 10px;
    padding: 30px 30px 20px 30px;
  }
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: groove;
  border-radius: 60px;
  margin: 50px auto;
  padding: 40px;

  .numberOfExercise {
    font-family: inherit;
    text-align: center;
    text-shadow: 12px 2px 20px gray;
  }

  .numberOne {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px black;
    font-variant: small-caps;
    width: 50%;
    color: #ffffff;
    background-color: #868686;
    border: groove;
    border-radius: 60px;
    margin: 10px;
    padding: 20px 30px 35px 30px;
  }
}

.arithmetic {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: groove;
  border-radius: 60px;
  margin: 50px auto;
  padding: 40px;

  .numberOfExercise {
    font-family: inherit;
    text-align: center;
    text-shadow: 12px 2px 20px gray;
  }

  .arithmeticAverage {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px black;
    font-variant: small-caps;
    width: 50%;
    color: #ffffff;
    background-color: #868686;
    border: groove;
    border-radius: 60px;
    margin: 10px;
    padding: 20px 30px 35px 30px;
  }
}

.evenNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: groove;
  border-radius: 60px;
  margin: 50px auto;
  padding: 40px;

  .numberOfExercise {
    font-family: inherit;
    text-align: center;
    text-shadow: 12px 2px 20px gray;
  }

  .evenNumberDiv {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px black;
    font-variant: small-caps;
    width: 50%;
    color: #ffffff;
    background-color: #868686;
    border: groove;
    border-radius: 60px;
    margin: 10px;
    padding: 20px 30px 35px 30px;
  }
}

.argumentSum {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: groove;
  border-radius: 60px;
  margin: 50px auto;
  padding: 40px;

  .numberOfExercise {
    font-family: inherit;
    text-align: center;
    text-shadow: 12px 2px 20px gray;
  }

  .argumentSumAll {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px black;
    font-variant: small-caps;
    width: 50%;
    color: #ffffff;
    background-color: #868686;
    border: groove;
    border-radius: 60px;
    margin: 10px;
    padding: 20px 30px 35px 30px;
  }
}

.paperGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: groove;
  border-radius: 60px;
  margin: 50px auto;
  padding: 40px;

  .numberOfExercise {
    font-family: inherit;
    text-align: center;
    text-shadow: 12px 2px 20px gray;
  }

  .paperGameAll {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px black;
    font-variant: small-caps;
    width: 50%;
    color: #ffffff;
    background-color: #868686;
    border: groove;
    border-radius: 60px;
    margin: 10px;
    padding: 20px 30px 35px 30px;
  }
}

.secoundMax {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: groove;
  border-radius: 60px;
  margin: 50px auto;
  padding: 40px;

  .numberOfExercise {
    font-family: inherit;
    text-align: center;
    text-shadow: 12px 2px 20px gray;
  }

  .secoundMaxNumber {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px black;
    font-variant: small-caps;
    width: 50%;
    color: #ffffff;
    background-color: #868686;
    border: groove;
    border-radius: 60px;
    margin: 10px;
    padding: 20px 30px 35px 30px;
  }
}

.negativeNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: groove;
  border-radius: 60px;
  margin: 50px auto;
  padding: 40px;

  .numberOfExercise {
    font-family: inherit;
    text-align: center;
    text-shadow: 12px 2px 20px gray;
  }

  .negativeNumberBack {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px black;
    font-variant: small-caps;
    width: 50%;
    color: #ffffff;
    background-color: #868686;
    border: groove;
    border-radius: 60px;
    margin: 10px;
    padding: 20px 30px 35px 30px;
  }
}






//functions

.allFunctions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  border: groove;
  border-radius: 60px;
  padding: 40px;
  margin: 20px;
}