.test {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loops {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  //width: 60%;

  //width: 100px;
  //height: 100px;

  border: groove;
  border-radius: 60px;
  margin: 50px auto;
  padding: 40px;

  .div1 {
    font-family: inherit;
    text-align: center;
    //padding: 10px 0 40px 5px;
    text-shadow: 12px 2px 20px gray;

  }

  .squareFor {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px black;
    font-variant: small-caps;
    width: 70%;
    color: #ffffff;
    background-color: #868686;
    border: groove;
    border-radius: 60px;
    margin: 10px;
    padding: 30px 30px 20px 30px;
  }

  .squareWhile {
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px black;
    font-variant: small-caps;
    width: 70%;
    color: #ffffff;
    background-color: #868686;
    border: groove;
    border-radius: 60px;
    margin: 10px;
    padding: 30px 30px 20px 30px;
  }
}

.sumOfAll {
  overflow: hidden;
  //width: 80%;

  width: 100px;
  height: 100px;

  border: groove;
  border-radius: 60px;
  margin: 50px auto;
  padding: 40px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  color: #000000;
  text-shadow: 12px 12px 20px gray;
}

.stars {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  color: #000000;
  text-shadow: 12px 12px 20px gray;
  overflow: hidden;
  //width: 54.4%;

  width: 100px;
  height: 100px;

  border: groove;
  border-radius: 60px;
  margin: auto;
  padding: 20px;

}